agm-map {
  width: 100%;
  height: calc(100% - 40px);
  position: absolute;
}

.search {
  padding: 0 10px;
}

#search {
  position: absolute;
  top: 60px;
  left: 10px;
  width: 300px;
  z-index: 2;
  border: none;
  padding: 5px;
  box-shadow: 1px 2px 5px 0px rgb(0 0 0 / 50%);
}
